{# Base layout for the polls app #}
<!DOCTYPE html>
<html lang="en">
<head>

    {% block metas %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock metas %}

    {% block styles %}
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
    {% endblock styles %}

    <title>Polls {% block title %}TODO: TITLE{% endblock %}</title>

</head>

<body>
    {% block navbar %}
    <div class="w3-bar w3-light-grey">
        <a href="{% url 'polls:index'  %}" class="w3-bar-item w3-button">Questions</a>
        <a href="{% url 'admin:index' %}" class="w3-bar-item w3-button">Administration</a>
        <a href="{% url 'polls:survey' %}" class="w3-bar-item w3-button">My survey</a>
        <a href="{% url 'polls:about' %}" class="w3-bar-item w3-button">About</a>
    </div>
    {% endblock navbar %}

{% if messages %}
<ul class="messages w3-blue">
    {% for message in messages %}
        <b><li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li></b>
    {% endfor %}
</ul>
{% endif %}

{% block content %}

{% endblock %}

</body>
</html>